<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlybanhangonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QlyBanHangOnline"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".QuenMatKhau"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".ChiTietHoaDon"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".ThongTinTaiKhoan"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".ThongTinDatHang"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".ThongTinSanPham"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".Draw"
            android:exported="true"
            android:label="Trang chủ"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DangKy"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".DangNhap"
            android:exported="false"
            android:theme="@style/Theme.QlyBanHangOnline.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>